<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily quote</title>
    <link rel="stylesheet" href="..\static\hello\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;500;900&display=swap" rel="stylesheet">
</head>
<body>
 
    <div>
        <h1>Here's a quote to start your day:</h1>
 
        <p>{{fortune}}</p>
    </div>
 
</body>
</html>